<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alainesp.fan.sanderson" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/brandon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ReadBlogPostActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ReadEventActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ReadTweetActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ReadTorRereadPostActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".TorRereadCommentsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ReadTorCommentActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".BookActivity" android:theme="@style/AppTheme"/>

        <receiver android:name=".AlarmRefreshReceiver" android:enabled="true" android:exported="true"/>

    </application>

</manifest>
